*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family: Arial;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #141E30,
        #243B55,
        #4A00E0
    );
}

.forgot-card{

    width:420px;

    padding:40px;

    border-radius:25px;

    background:
    rgba(255,255,255,0.1);

    backdrop-filter:
    blur(15px);

    text-align:center;

    color:white;
}

input{

    width:100%;

    padding:16px;

    margin-bottom:18px;

    border:none;

    border-radius:15px;

    outline:none;
}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:50px;

    background:
    linear-gradient(
        45deg,
        #00D4FF,
        #8B5CF6
    );

    color:white;

    cursor:pointer;
}