*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#0F172A;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.card{

    width:420px;

    padding:35px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);

    border-radius:20px;

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:0 10px 30px rgba(0,0,0,0.35);

}

.card h1{

    color:white;

    text-align:center;

    margin-bottom:15px;

}

#eventName{

    color:#cbd5e1;

    text-align:center;

    margin-bottom:25px;

    font-size:16px;

}

.card input{

    width:100%;

    padding:14px;

    margin-bottom:18px;

    border:none;

    border-radius:12px;

    background:#1E293B;

    color:white;

    font-size:16px;

}

.card input::placeholder{

    color:#94A3B8;

}

.card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:14px;

    background:linear-gradient(135deg,#8B5CF6,#06B6D4);

    color:white;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.card button:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 20px rgba(6,182,212,.3);

}