*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:
linear-gradient(
135deg,
#020617,
#0f172a,
#1e293b
);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

color:white;
}

.container{
width:90%;
max-width:700px;
}

h1{

text-align:center;

margin-bottom:30px;

font-size:45px;

background:
linear-gradient(
90deg,
#8b5cf6,
#06b6d4
);
background-clip:text;
-webkit-background-clip:
text;

-webkit-text-fill-color:
transparent;
}

.details-card{

background:
rgba(255,255,255,0.08);

padding:35px;

border-radius:25px;

backdrop-filter:
blur(20px);

border:
1px solid rgba(
255,255,255,0.1
);
}

.details-card h2{
font-size:34px;
margin-bottom:20px;
color:#06b6d4;
}

.details-card p{
font-size:18px;
margin:15px 0;
line-height:1.7;
}

strong{
color:#a855f7;
}

button{

margin-top:20px;

padding:14px 30px;

border:none;

border-radius:14px;

cursor:pointer;

font-size:17px;

font-weight:600;

color:white;

background:
linear-gradient(
135deg,
#8b5cf6,
#06b6d4
);
}

.action-buttons{
display:flex;
gap:15px;
margin-top:20px;
align-items:center;
}

#organizerButtons{
display:flex;
gap:15px;
}

.edit-btn,
.delete-btn{

padding:12px 20px;

border:none;

border-radius:12px;

cursor:pointer;

color:white;

font-weight:600;
}

.edit-btn{
background:linear-gradient(
135deg,
#8b5cf6,
#06b6d4
);
}

.delete-btn{
background:linear-gradient(
135deg,
#ef4444,
#dc2626
);
}
.details-image{

width:100%;

height:300px;

object-fit:cover;

border-radius:20px;

margin-bottom:20px;
}
.registered-btn{

background:
#10b981;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:not-allowed;
}
.review-box{

margin-top:30px;

display:flex;

flex-direction:column;

gap:15px;
}

.review-box h3{

color:#8b5cf6;
margin-bottom:10px;
}

.review-box select{

padding:12px;

border:none;

border-radius:12px;

font-size:16px;

background:
rgba(255,255,255,0.1);

color:white;
}

.review-box textarea{

height:120px;

padding:12px;

border:none;

border-radius:12px;

background:
rgba(255,255,255,0.1);

color:white;

resize:none;
}

.review-box textarea::placeholder{

color:#cbd5e1;
}

.review-box button{

margin-top:5px;
}

.reviews-section{

margin-top:30px;

background:
rgba(255,255,255,0.08);

padding:25px;

border-radius:20px;

backdrop-filter:blur(20px);
}

.reviews-section h2{

color:#8b5cf6;

margin-bottom:15px;
}
.event-banner{

width:100%;

height:350px;

object-fit:cover;

border-radius:20px;

margin-bottom:20px;

}